/*  your css code here. If applicable */
body{
	background-color: #f5f5f5; 
}
div{
	background-color: white;
	padding:10px;
	border: solid 1px #ccc;
	height: 40px;
	width:95%;
	margin-left:25px;
}
p{
	font-style: italic;
	text-align: right;
}
h1{
	margin-left:25px;
}